In [1]:
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

from sklearn.datasets import load_wine

# IMPORT THE DATASET AND CONVERT INTO DATAFRAME

In [2]:
wine = load_wine()

dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [3]:
df = pd.DataFrame(data=wine.data,columns=wine.feature_names)

In [4]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [5]:
df['target'] = wine.target
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [6]:
df.groupby(['target']).sum()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
target,,,,,,,,,,,,,
0,810.94,118.63,144.88,1005.2,6274.0,167.57,175.96,17.11,112.06,326.170000,62.660,186.31,65827.0
1,871.79,137.22,159.38,1436.9,6713.0,160.38,147.74,25.82,115.75,219.150000,74.996,197.76,36885.0
2,631.38,160.02,116.98,1028.0,4767.0,80.58,37.51,21.48,55.37,355.019999,32.770,80.81,30235.0

# SPLIT THE DATA

In [7]:
y_tar = df['target']
x_inp = df
x_inp.drop('target',axis=1,inplace=True)

# X_train, X_test, y_train, y_test = train_test_split(,,test_size=0.25)

In [8]:
y_tar.shape

(178,)

In [9]:
x_inp.shape

(178, 13)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(x_inp,y_tar,test_size=0.25)

## train the Mulitnomial model and later check for accuracy

In [11]:
model = MultinomialNB()

In [12]:
model.fit(X_train,y_train)

MultinomialNB()

In [13]:
model.score(X_test,y_test)

0.9333333333333333

# SINCE THE ACCURACY IS PROMISING WE CONTINUE WITH THIS MODEL

In [14]:
model.predict(X_test)

array([1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 2, 1, 1, 0, 2, 1, 1, 1, 2, 0, 2, 1,
       1, 2, 2, 1, 0, 1, 0, 1, 0, 1, 0, 1, 2, 2, 1, 0, 0, 2, 2, 1, 1, 0,
       1])